<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">

	<context:component-scan base-package="com.example.springtrial">
		<!-- Exclude all beans with @Repository annotation: DAOs -->
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Repository"/>
		<!-- type=annotation/regex/assignable(means extends/implements to)/aspectj(aspectj expression)/custom(any specific class only) -->
	</context:component-scan>

	<bean id="simpleBean" class="com.example.springtrial.simple.SimpleBean">
		<constructor-arg value="SimpleBeanName" />
		<property name="order" value="5" />
	</bean>

	<alias name="simpleBean" alias="simpleBeanAlias" />

	<bean class="com.example.springtrial.simple.SimpleBeanLoopkup">
		<lookup-method name="getSimpleBean" bean="simpleBeanAlias" />
	</bean>

	<bean id="bactoryMethodSampleBean" class="com.example.springtrial.simple.FactoryMethodSampleBean"
		factory-method="getInstance" />

	<bean id="factoryGeneratedObject" class="com.example.springtrial.simple.FactoryGeneratedObject"
		factory-bean="factoryObject" factory-method="generateFactoryGeneratedObject" />

	<!-- custom scope -->
	<bean class="org.springframework.beans.factory.config.CustomScopeConfigurer">
		<property name="scopes">
			<map>
				<entry key="timely">
					<bean class="com.example.springtrial.custom.scope.TimelyScope">
						<constructor-arg value="5000" />
					</bean>
				</entry>
			</map>
		</property>
	</bean>

	<!-- external properties -->
	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<array>
				<value>classpath:com/example/springtrial/properties/external.properties
				</value>
			</array>
		</property>
		<!-- Aforementioned configuration also checks for system environment properties 
			if matching property placeholder not found in any of above properties files. 
			This can be disabled by setting following property. Where 0=never, 1=fallback, 
			2=override.
			<property name="systemPropertiesMode" value="0"/> -->
	</bean>

	<bean
		class="org.springframework.beans.factory.config.PropertyOverrideConfigurer">
		<property name="locations">
			<array>
				<value>classpath:com/example/springtrial/properties/external_auto_set.properties
				</value>
			</array>
		</property>
	</bean>
</beans>